<%- include ('partials/header.ejs') %>


<body>
    <%- include ('partials/navbar.ejs') %>
    <div class="container my-5">
        <hr>
        <h2> <%= pergunta.titulo %> </h2>
        <hr>
        <p><%= pergunta.descricao %></p>
        <hr>
        <form method='POST' action="/responder">
            <textarea name="corpo" placeholder="Digite sua resposta..." class="form-control"></textarea>
            <input type="hidden" name="id" value="<%= pergunta.id %>">
            <button class="btn btn-outline-success mt-4" type="submit">Responder</button>
        </form>
        <hr>
        <h3>Respostas:</h3>
        <hr>
        <% respostas.forEach(resposta =>{ %>
            <br>
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <p><%= resposta.corpo %></p> 
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</body>

<%- include ('partials/footer.ejs') %>